@charset "utf-8";

.wrap{
    top: 0px;
}
main{
    height: 3250px;
}
section{
    position: relative;
    top: 100px;
    width:1140px;
    margin:0px auto;
}
section > h2{
    display:none;
}

h2{
    margin-bottom:40px;
    color:#67BE7A; /*제목색상*/
}
footer h2{
    margin-bottom: 0px;
}
/* 상단 내비게이션 */
.top_list > ul{
    grid-template-columns:repeat(6,auto);
}
.top_list > ul > li:nth-child(4){
    background:#67BE7A;
}
.top_list > ul > li:nth-child(4) > a{
    font-weight:500;
    color:#fff;
}

/*날씨, 리뷰 내 탭버튼 서식*/
.tap_list{
    height:50px;
    padding-top:15px;
    margin-top:30px;
    margin-bottom:20px;
    box-sizing: border-box;
}
.tap_list > li {
    position: relative;
}
.tap_list > li > a:focus{
    font-weight:500;
    padding:0px;
}
.tap_list > li > a:focus::after{
    display:block;
    content:"";
    width:100%;
    height:3px;
    margin-top:8px;
    background-color:#fff;
    position:absolute;
    top:30px;
}

/*한강공원 소개 서식 시작*/
.intro_4{
    width:1140px;
    object-fit:contain;
    overflow:hidden;
}
.intro_4 > p > img{
    width:100%;
    border-radius:15px;
}
.intro_4 > p:last-child{
    padding-top:30px;
    line-height: 20px;
}

.best{
    width:1140px;
    margin:0px auto;
    padding-top:50px;
    padding-bottom:50px;
}
.best_4{
    box-sizing:border-box;
    display:flex;
}
.best_4 > li > div{
    margin-right:18.09px;
}
.best_4 img{
    width:271.43px;
    height:260px;
    border-radius:15px;
}
.best_4 h3{
    padding-top:30px;
}
/*한강공원 소개 서식 끝*/

/*날씨정보서식 시작*/
.weather_4{
    background-color:#67BE7A;
    border-radius:15px;
    width:1140px;
    height:500px;
    font-size:20px;
    color:#fff;
    position:relative;
    overflow: hidden;
}
.weather_4 > h3{display:none;}

.w_wrap h3{
    font-size:20px;
    font-weight:400;
    padding:30px;
    position: absolute;
    z-index:1000;
}
.w_bg{
    width:1140px;
    height:500px;
    background-image: url('../img/background_weather4.jpg');
    background-size: 100%;
    background-position: center;
    filter:blur(4px) brightness(0.7) saturate(0.7);
    transform: scale(1.1);
    position:absolute;
    top:0px;
}
.w_con{
    display:flex;
}
.w_left{
    width:510px;
    height:420px;
    padding:130px 100px 80px;
    box-sizing: border-box;
    z-index:1000;
}
.w_left::after{ /*왼쪽 오른쪽 구분선*/
    display:block;
    content:"";
    height:462px;
    border-right:1px solid #fff;
    position:relative;
    bottom:385px;left:100px;
}

.w_left > ul{
    display:grid;
    grid-gap:10px;
    grid-template-areas:
    "w01 w02"
    "w01 w03"
    "w04 w04"
    "w05 w05"
    "w06 w07"
    ;
}
.w_left > ul > li:first-child{grid-area:w01;}
.w_left > ul > li:nth-child(2){grid-area:w02;}
.w_left > ul > li:nth-child(3){
    grid-area:w03;
    font-size:48px;
}
.w_left > ul > li:nth-child(4){
    grid-area:w04;
    padding-top:30px;
    font-size:18px;
}
.w_left > ul > li:nth-child(5){grid-area:w05;
    font-size:18px;}
.w_left > ul > li:nth-child(6){
    grid-area:w06;
    font-size:16px;
    padding-top:40px;
}
.w_left > ul > li:last-child{
    grid-area:w07;
    font-size:16px;
    padding-top:40px;
}

/*왼쪽 이미지 크기조정*/
.w_left > ul > li:first-child > img{
    width:100px;
    height:auto;
    padding:25px;
}
.w_left > ul > li:nth-last-child(2) > img{width:auto; height:18px;}
.w_left > ul > li:last-child > img{width:auto; height:18px;}
/*------------------*/

.w_right{
    width:630px;
    height:420px;
    padding:90px 50px 80px;
    box-sizing:border-box;
    display:grid;
    z-index:1000;
}
.w_right > ul{
    display:flex;
    justify-content:space-around;
}
.w_right > ul > li > span{
    display:block;
    font-size:16px;
}
.w_right > ul > li > img{
    width:33.33%;
}

.w_right > .w_dust{
    text-align:center;
    line-height:30px;
}

.w_right > .w_tap_list{
    width:210px;
}
.w_right > .w_tap_list > li::after{
    display:block;
    content:"";
    height:25px;
    border-right:1px solid #fff;
    position:relative;
    left:20px;bottom:20px;position: relative;
    z-index:300;
}
.w_right > .w_tap_list > li:last-child::after{
    display:none;
}
.w_right > .w_tap_list > li > a{
    font-size: 18px;
    color:#fff;
    position: relative;
    z-index:400;
}

.w_right > .w_time{
    text-align:center;
    line-height:30px;
}
.w_right > .w_time > li > img{
    padding-top:10px;
}
.w_right > .w_time > li:nth-child(2) > img{
    padding-bottom:4px;
}
/*날씨정보서식 끝*/

/*리뷰 서식 시작*/
.review_4{
    padding-top: 50px;
    padding-bottom:40px;
    position:relative;
}
.review_4 > .r_tap_list{
    width:353px;
    display:flex;
    justify-content:space-around;
}
.review_4 > .r_tap_list > li > a{font-size:20px;}
.review_4 > .r_tap_list > li > a:focus{
    color:#67BE7A;
}
.review_4 > .r_tap_list > li > a:focus::after{
    background-color:#67BE7A;}
.review_4 > .review_list04 > li{
    width:1140px;
    padding:50px 20px;
    border-bottom:1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.review_4 > .review_list04 > li:last-child{border:none;}
.review_4 > .review_list04 > li > h3{
    font-size:18px;
    order:2;
}
.review_4 > .review_list04 > li > p:first-of-type{order:1; color:#dcdcdc;}
.review_4 > .review_list04 > li > p:last-of-type{order:3;}
.review_4 > .review_list04 > li > p > .star{color:#67BE7A;}
/*리뷰 서식 끝*/